body {
  margin: 0 auto;
  font-family: "Red Hat Display", sans-serif;
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.programmer {
  margin-left: 910px;
}

.code-intro {
  display: inline;
  position: absolute;
  top: 600px;
  left: 130px;
}

.arrow {
  display: inline;
  position: absolute;
  bottom: 259px;
  left: 173px;
}
.r-arrow {
  display: inline;
  position: absolute;
  top: 782px;
  left: 790px;
}

h1,
h3 {
  position: relative;

  margin-bottom: 20px;
}

h1 {
  font-size: 96px;
  margin-left: 80px;
  margin-bottom: 40px;
  font-weight: lighter;
}

h3 {
  font-size: 48px;
  margin-left: 80px;
  font-weight: 400;
}

ul {
  margin-top: 50px;
}

li {
  text-align: center;
  list-style-type: none;
  display: inline;
  margin-left: 65px;
}

.line-break {
  margin: 100px auto 10px auto;
  display: block;
}
