body {
  margin: 0 auto;
  font-family: "Red Hat Display", sans-serif;
  background-color: rgb(243, 243, 243);
}

.hero {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.programmer {
  margin-left: 910px;
}

.code-intro {
  display: inline;
  position: absolute;
  top: 600px;
  left: 130px;
}

.arrow {
  display: inline;
  position: absolute;
  bottom: 260px;
  left: 173px;
}
.r-arrow {
  display: inline;
  position: absolute;
  top: 782px;
  left: 790px;
}

h1,
h3 {
  position: relative;

  margin-bottom: 20px;
}

h1 {
  font-size: 96px;
  margin-left: 80px;
  margin-bottom: 40px;
  font-weight: lighter;
}

h3 {
  font-size: 48px;
  margin-left: 80px;
  font-weight: 400;
}

ul {
  margin-top: 50px;
}

li {
  text-align: center;
  list-style-type: none;
  display: inline;
  margin-left: 65px;
}

.line-break {
  margin: 100px auto 10px auto;
  display: block;
}

.line-two {
  margin: 0 auto;
  display: block;
}

.ellipse {
  position: relative;
  margin-left: 10px;
}

.text {
  position: absolute;
  left: 40%;
  top: 0;
  text-align: center;
  font-size: 30px;
  width: 911px;
  height: 867px;
}

.box {
  position: relative;
  display: inline-block;
}

.history {
  position: absolute;
  top: 40px;
  left: 7.5%;
}

.about {
  margin-top: 70px;
}

.cloud-right {
  position: absolute;
  right: 0;
}

.projects {
  margin-top: 200px;
}

.project-tag {
  position: absolute;
  bottom: 280px;
  left: 30px;
}

.contact-section {
  position: relative;
}

.contact-header {
  margin-left: 230px;
}

.contact-img {
  margin-left: 10px;
}

.contact {
  position: absolute;
  right: 30px;
  top: 0;
  line-height: 80px;
}
